<% var img_path='/assets/images/'; %>

<footer class="l-footer">
  <div class="c-footer-company">
    <img src="<%= img_path %>trust.png" class="c-footer-company__logo" alt="フッターのロゴ画像">
    <small class="c-footer-company__copyright">&copy; 2020 Trust Inc. All Rights Reserved.</small>
  </div>
  <div class="c-footer-link">
    <a class="c-footer-link__corporate" href="#">コーポレートサイト</a>
  </div>
</footer>

</div><!-- l-wrap -->
</body>
</html>