<% var img_path='/assets/images/'; %>
<header>
  <div class = "header-main">
    <div class = "header-logo">
      <img src="<%= img_path %>trust.png" class ="logo-image">
    </div>
  </div>


</header>