/*// ==========================================================================
// c-btn
// ==========================================================================*/

.c-top-toProject {
  padding: 2vh 6vw;
  border-radius: 30px;
  font-size: 2vw;
  letter-spacing: 2px;
  background-color: rgba($colorWhite, .7);
  border: 1px solid $colorBlack;
  border-radius: 35px;
  position: relative;
  transition: all 0.5s;
  display: inline-block;
  white-space: nowrap; // 文字おりかえさない
  margin-bottom: 30px;
  &:hover {
    transform: scale(1.05);
  }

  @include mq('u-pc') {
    font-size: 20px;
    padding: 10px 50px;
  }

  @include mq('u-sp') {
    font-size: 15px;
    padding: 10px 40px;
  }
}

.c-top-toLINE {
  position: relative;
  display: inline-block;
  font-size: 1.2vw;
  padding: 1vh 2vw;
  margin: 0 auto;
  border-radius: 20px;
  color: $colorWhite;
  background-color: rgba(#0DB53C, .7);
  transition: all .5s;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    background-color: rgba(#0DB53C, 1);
  }
}