.c-footerPC-company {
  width: 100%;
  text-align: center;
}

.c-footerPC-company__logo {
  width: 30%;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(10px 10px 10px $colorBlack); // オブジェクトの形に沿って影
}

.c-footerPC-corporate {
  width: 100%;
  display: block;
  margin-top: auto;
}

.c-footerPC-corporate__link {
  width: 40%;
  display: block;
  margin: 0 auto;
  text-align: center;

  &:hover {
    .c-footerPC-corporate__linkText {
      text-decoration: underline;
    }
  }
}

.c-footerPC-corporate__linkText {
  font-size: 12px;
  display: inline;
}

/*
  以下：スマホ用
---------------------------------------------------- */

.c-footerPCSP-text {
  display: none;

  @include mq('u-pc') {
    display: block;
  }
}

.c-footerSP-text {
  font-size: 20px;
}

.c-footerSP-corporate__linkImg {
  margin-bottom: 10px;
}

.c-footerSP-company__logo {
  width: 50%;
  margin-bottom: 10px;
  filter: drop-shadow(10px 10px 10px $colorBlack); // オブジェクトの形に沿って影
}

.c-footerSP-company__copyright {
  display: block;
}