
.header {
  position: fixed;
}
.header-main{
  height: 75px;
  width: 100%;
  background-color: #343434;
  box-shadow: 2px 2px 4px -2px gray inset;

}

.header-logo {
  margin : 0 auto;
  width: 200px;
  // background-color: white;
  line-height: 75px;
}

.logo-image{
  height :50px;
  width :190px;
}