.l-footer {
  background-color: $colorWhite;
  padding: 30px;
  position: relative;
  display: flex;

  &:before, &:after {
    position: absolute;
    display: block;
    top: 0;
    width: 49vw;
    height: 5%;
    content: '';

    @include mq(u-sp) {
      width: 45vw;
    }
  }

  &::before {
    left: 0;
    background-color: $colorLightBlue;
  }

  &::after {
    right: 0;
    background-color: $colorLightRed;
  }
}