.l-footerPC {
  background-color: $colorWhite;
  padding: 30px;
  position: relative;
  display: flex;

  &:before, &:after {
    position: absolute;
    display: block;
    top: 0;
    width: 49vw;
    height: 5%;
    content: '';
  }

  &::before {
    left: 0;
    background-color: $colorLightBlue;
  }

  &::after {
    right: 0;
    background-color: $colorLightRed;
  }

  @include mq('u-pc') {
    display: none;
  }
}

.l-footerSP {
  @include mq('o-pc') {
    display: none;
  }

  text-align: center;
  position: relative;
  padding: 30px;
  background-color: $colorWhite;

  &:before, &:after {
    position: absolute;
    display: block;
    top: 0;
    width: 49vw;
    height: 5%;
    content: '';
  }

  &::before {
    left: 0;
    background-color: $colorLightBlue;
  }

  &::after {
    right: 0;
    background-color: $colorLightRed;
  }
}