/*// ==========================================================================
// l-top
// ==========================================================================*/

.l-top-heading {
  height: 100vh;
  background: url("#{$bgPath}heading.bg1.png");
  background-size: cover;
  padding: 0 30px;

  display: flex;
  align-items: center;
}

.l-top-aboutService {
  display: flex;
  padding: 20px 0 50px 100px;
}