/*// ==========================================================================
// p-top
// ==========================================================================*/

/*// -----------------------------------------------------------------
//  .p-top-heading
// -----------------------------------------------------------------*/

.p-top-heading__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  @include mq('u-sp') {
    width: 90%;
    margin-top: 100px;
  }
}

.p-top-heading__circle--day {
  @include circlePattern(day);
}
.p-top-heading__circle--match {
  @include circlePattern(match);
}
.p-top-heading__circle--line {
  @include circlePattern(line);
}

.p-top-heading__catchPhrase {
  // font-family: Source Han Code JP;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  width: 250px;
  font-size: 30px;
  color: $colorWhite;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  @include mq('u-sp') {
    font-size: 35px;
  }
}

.p-top-heading__catchPhrase--bold {
  font-weight: bold;
  font-size: 35px;
}

.p-top-heading__titleImg {
  margin-bottom: 30px;
  width: 50%;
}

.p-top-heading__flex {
  display: flex;
  justify-content: space-between;
}

.p-top-heading__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-top-heading__text {
  font-size: 20px;
  margin-bottom: 20px;

  @include mq('u-sp') {
    font-size: 15px;
  }
}

/*// -----------------------------------------------------------------
//  .p-top-aboutService
// -----------------------------------------------------------------*/

.p-top-aboutService__logoList {
  font-size: 80px;
  line-height: 180px;
  font-weight: bold;
  overflow: hidden; // ロゴのfadeinを隠すため
  letter-spacing: 20px;

  // TTJ の (最初の) T
  &:first-child > .p-top-aboutService__logoList__initial {
    color: #d9340a;
  }

  // TTJ の (2番目の) T
  &:nth-child(2) > .p-top-aboutService__logoList__initial {
    color: #2582bb;
  }
}

.p-top-aboutService__logoList__initial {
  position: relative;
  right: 250px;
  font-size: 180px;
  opacity: 0;
}

// ロゴのフェードイン
.fadeLogoInitial {
  opacity: 1;
  right: 0;
  transition: 1.5s;
}

.p-top-aboutService__explain {
  background-color: #343434;
  color: white;
  height: 100%;
  width: 65%;
  margin-left: auto;
  padding: 10px 10px 20px 80px;
  position: relative;
}

.p-top-aboutService__explain__title {
  font-size: 80px;
  font-weight: bold;
  text-align: right;
}

.p-top-aboutService__explain__titleInitial {
  letter-spacing: -10px;

  &:first-child {
    color: #d9340a;
  }

  &:nth-child(2) {
    color: #2582bb;
  }
}

.p-top-aboutService__explain__underline {
  display: block;
  position: absolute;
  right: 0;
  height: 2px;
  width: 0;
  background-color: white;
}

.extendUnderline {
  width: 70%;
  transition: 2.0s;
}

.p-top-aboutService__explain__text {
  margin-top: 30px;
}

/*// -----------------------------------------------------------------
//  .p-top-request
// -----------------------------------------------------------------*/

.p-top-request__title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.p-top-request__block {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @include mq('u-sp') {
    flex-direction: column;
  }
}

.p-top-request__blockList {
  width: 25%;
  background: linear-gradient(white, #e4e4e4);
  border-radius: 40px;
  padding: 20px 30px;

  @include mq('u-sp') {
    width: 100%;

    &:not(last-child) {
      margin-bottom: 30px;
    }
  }
}

@mixin request_blockList_underLine {
  content: '';
  height: 3px;
  width: 30%;
  background-color: gray;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.p-top-request__blockList__title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;

  &:after {
    @include request_blockList_underLine;

    bottom: -5px;
  }
}

.p-top-request__blockList__img {
  width: 80%;
  margin: 0 auto;
  display: block;
  margin-bottom: 40px;
}

.p-top-request__blockList__text {
  text-align: center;
  position: relative;

  &:after {
    @include request_blockList_underLine;

    top: -20px;
  }
}

/*// -----------------------------------------------------------------
// .p-top-container
// -----------------------------------------------------------------*/

.p-top-container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
  background-color: #F2F2F2;
}

/*// -----------------------------------------------------------------
// .p-top-flowUpToWork
// -----------------------------------------------------------------*/
.p-top-flowUpToWork {
  margin: 0 auto;
}

.p-top-flowUpToWork__heading {
  position: relative;
  margin: 30px 0 100px 0;
  font-size: 2.5vw;
  text-align: center;
  letter-spacing: 8px;
  &::before, &::after {
    position: absolute;
    display: block;
    top: -25px;
    width: 10vw;
    height: 10vh;
    content: '';
  }
  &::before {
    left: 0;
    background-color: #D9340A;
  }

  &::after {
    right: 0;
    background-color: #2582bb;
  }
}

.p-top-flowUpToWork__heading--bold {
  font-weight: bold;
}

.p-top-flowUpToWork__menu {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto 100px auto;
}

.p-top-flowUpToWork__list {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 250px;
  padding: 10px;
  border: 1px solid rgba($colorBlack, .4);
  border-radius: 5px;

  &:nth-last-child(n+2) {
    position: relative;
    margin-right: 80px;
    margin-bottom: 30px;
    &::after {
      position: absolute;
      display: block;
      top: 100px;
      right: -60px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 0 20px 40px;
      border-color: transparent transparent transparent #d9340a;
      content: '';
    }
  }
  &:nth-child(odd) {
    @include mq(u-sp) { margin-right: 0; }
  }
}

.p-top-flowUpToWork__list__image {
  object-fit: contain;
  @include mq(u-sp) {
    margin-bottom: 20px;
  }
}

.p-top-flowUpToWork__list__txt {
  font-size: 1vw;
  text-align: center;
  // white-space: nowrap;
  margin-top: auto;
  @include mq(u-sp) {
    margin-top: 0;
  }
}


/*// -----------------------------------------------------------------
// .p-top-project
// -----------------------------------------------------------------*/

.p-top-project {
  margin-bottom: 100px;
}

/*
  .p-top-project__heading
---------------------------------------------------- */

.p-top-project__heading {
  font-size: 50px;
  text-align: center;
  letter-spacing: 10px;
}

.p-top-project__heading--bold {
  font-weight: bold;
}

.p-top-project__subTitle {
  margin-bottom: 150px;
  text-align: center;
  font-size: 25px;
}

/*
  .p-top-project__list
---------------------------------------------------- */

.p-top-project__list {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  &:nth-last-child(n+2) {
    margin-right: 10px;
  }
  @include mq(u-sp) {
    width: 70%;
    flex-direction: column;
    align-items: center;
  }
}

/*
  .p-top-project__listItem
---------------------------------------------------- */

.p-top-project__listItem {
  max-width: 350px;
  padding: 5% 1%;
  border: 4px solid #707070;
  background-color: #ECECEC;
  &:nth-last-child(n+2) {
    margin-right: 80px;
  }
  @include mq(u-sp) {
    &:nth-last-child(n+2) {
      margin-bottom: 120px;
      margin-right: 0;
    }
  }
}

.p-top-project__listItem__jobCategory {
  display: flex;
  @include mq(o-sp) {
    justify-content: space-between;
    width: calc(350px * 3);
    margin: 0 6%;
  }
  @include mq(u-sp) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
}

.p-top-project__listItem {
  &:nth-last-child(n+2) > .p-top-project__listItem__jobCategory__txt {
    background-color: #d9340a;
  }
  &:last-child > .p-top-project__listItem__jobCategory__txt {
    background-color: #2582bb;
    color: $colorWhite;
  }
}

.p-top-project__listItem__jobCategory__txt {
  position: relative;
  display: inline-block;
  top: -100px;
  left: -100px;
  width: 120px;
  height: 120px;
  margin-left: 25px;
  text-align: center;
  font-weight: bold;
  line-height: 120px;
  color: rgba( $colorBlack, .8);
  border-radius: 50%;
  box-shadow: 15px 15px 10px -5px rgba(0, 0, 0, .3);
}

.p-top-project__listItem__goodMan {
  margin: -170px 0 20px 0;
}


/*
  .p-top-project__list__developmentEnironment
-----------------------------------------------------------------*/
.p-top-project__listItem__developmentEnironment {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.p-top-project__listItem__developmentEnironment > li {
  width: 90px;
  height: 25px;
  text-align: center;
  background-color: $colorWhite;
  border: 1px solid;
  border-radius: 20px;
  &:first-child {
    margin-bottom: 5px;
  }

  &:nth-last-child(n+2) {
    margin-right: 5px;
  }
}

.p-top-project__listItem__about {
  font-size: 20px;
  letter-spacing: 3px;
}

.p-top-project__listItem__feature {
  display: flex;
  justify-content: space-around;
}


/*
  .p-top-project__list__income
-----------------------------------------------------------------*/
.p-top-project__listItem__income__monthly {
  text-align: center;
  margin: -40px 0 10px 0;
}

.p-top-project__listItem__income__price--emphasis {
  font-size: 24px;
  font-weight: bold;
}

.p-top-project__listItem__separator {
  width: 2px;
  height: 200px;
  background-color: $colorBlack;
}

/*
  .p-top-project__list__working
-----------------------------------------------------------------*/
.p-top-project__listItem__working {
  display: flex;
  flex-direction: column;
}

.p-top-project__listItem__working__image {
  margin-top: 20px;
  margin-bottom: 30px;
}

.p-top-project__listItem__working__week,
.p-top-project__listItem__working__days {
  text-align: center;
}

.p-top-project__listItem__working__days {
  margin-top: auto;
}

.p-top-project__listItem__working__days--emphasis {
  font-weight: bold;
  font-size: 25px;
}

.p-top-project__listItem__working__week {
  margin-top: auto;
}

/*// -----------------------------------------------------------------
// .p-top-pie
// -----------------------------------------------------------------*/
.p-top-pieList {
  display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  width: 80%;
  margin: 0 auto;
  @include mq(u-sp) {
    flex-direction: column;
    align-items: center;
  }
}

.p-top-pieItem {
  margin-bottom: 100px;
}

.p-top-pieItem__title {
  text-align: center;
  font-size: 25px;
  opacity: .6;
  margin-bottom: 10px;
}

.p-top-pieItem__image {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

/*// -----------------------------------------------------------------
//  p-top-faq
// -----------------------------------------------------------------*/

.p-top-faq__title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

/*
  p-top-faqPC__question
---------------------------------------------------- */

.p-top-faqPC__question {
  @include mq(u-sp) {
    display: none;
  }
}

.p-top-faqPC__questionList {
  width: 300px;
  height: 100px;
  border: solid 1px black;
  user-select: none; // ダブルクリック時の青色選択無効
  display: flex;
  &:nth-last-child(n+2) {
    margin-right: 10px;
  }
}

/*
  p-top-faqPC__answer
---------------------------------------------------- */

.p-top-faqPC__answerList {
  display: none;
  // opacity: 0;
  // transition: .5s;
  // transform: scale(0);
}

.p-top-faqPC__answerList__textBlock {
  width: 60%;
  margin: 0 auto;
  border: solid 1px black;
  background: linear-gradient(-60deg, #ec8c8c 2%,white 8%,white 92%,#c4fcfc 98%);
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  user-select: none; // ダブルクリック時の青色選択無効
}

.p-top-faqPC__answerList__title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

// --------------------------×アイコン--------------------------

.crossIcon {
  margin: 0 auto;
  transition: .5s;
}

.p-top-faqPC__crossIcon {
  color: white;
  font-size: 25px;
  position: absolute;
  top: -20px;
  right: -20px;
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;

  &:hover > .crossIcon {
    transform: rotateZ(180deg);
  }
}

/* ---------------------------------------------------- */

#bgBlack {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.8);
  width: 100%;
  height: 100%;
  // opacity: 1;
  // transform: scale(1);
  // display: block;
}

.show {
  display: block;
  // opacity: 1;
  // transform: scale(1);
  // transition: 0.5s;
}

.nonScroll {
  overflow: hidden; // モーダル表示時：スクロール×
}

/*
  p-top-faqSP
---------------------------------------------------- */

.p-top-faqSP {
  display: none;

  @include mq(u-sp) {
    display: block;
  }
}

.p-top-faqSP__list {
  @include mq(u-sp) {
    &:not(last-child) {
      margin-bottom: 10px;
    }
  }
}

.p-top-faqSP__question {
  @include mq(u-sp) {
    font-size: 20px;
    background-color: #747474;
    color: white;
    padding: 5px 35px;
  }
}

.p-top-faqSP__question__title {
  user-select: none; // ダブルクリック時の青色選択無効

  @include mq(u-sp) {
    position: relative;

    &:before {
      content: '\f35a';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;

      position: absolute;
      top: 50%;
      left: -25px;
      margin-top: -.5em; // 文字1文字の半分のネガティブマージン
    }
  }
}

.p-top-faqSP__answer {
  @include mq(u-sp) {
    display: none;
    background: linear-gradient(-60deg, #ec8c8c 2%,white 8%,white 92%,#c4fcfc 98%);
    border-radius: 0 0 30px 30px;
    padding: 20px 30px;
  }
}

.arrowTransform {
  @include mq(u-sp) {
    &:before {
      transform: rotate(90deg);
    }
  }
}

.p-top-faqSP__answer__text {
  @include mq(u-sp) {
    line-height: 35px;
  }
}