/*// ==========================================================================
// p-top
// ==========================================================================*/

@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

/*// -----------------------------------------------------------------
//  .p-top-heading
// -----------------------------------------------------------------*/
.p-top-heading__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  opacity: 1;
  transform: translateY(0);
  transition: all 1s;
  @include mq('u-sp') {
    width: 90%;
    margin-top: 100px;
  }
}

.p-top-heading__circle--day {@include circlePattern(day);}
.p-top-heading__circle--match {@include circlePattern(match);}
.p-top-heading__circle--LINE {@include circlePattern(line);}

.p-top-heading__catchPhrase {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  width: 100%;
  font-size: 2vw;
  color: $colorWhite;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  @include mq('u-sp') {
    font-size: 2vw;
  }
}

.p-top-heading__catchPhrase--bold {
  font-weight: bold;
  font-size: 3vw;
}

.p-top-heading__titleImg {
  width: 40%;
  @include mq(u-sp) {
    width: 70%;
    margin-bottom: 30px;
    order: -1;
  }
}

.p-top-heading__horizontal {
  display: flex;
  justify-content: space-around;
  width: 100%;
  @include mq(u-sp) {
    justify-content: center;
    margin-bottom: 20px;
  }
}

.p-top-heading__vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.disappear {
  opacity: 0;
  transform: translateY(-400px);
}

/*// -----------------------------------------------------------------
//  .p-top-aboutService
// -----------------------------------------------------------------*/

.p-top-aboutService__explain {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 100px;

  @include mq(u-pc) {
    flex-direction: column-reverse;
  }
}

.p-top-aboutService__bgLogo {
  font-size: 520px;
  font-weight: bold;
  color: rgba(105, 105, 105, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;

  @include mq(u-pc) {
    font-size: 300px;
    flex-direction: column;
  }

  @include mq(u-sp) {
    font-size: 220px;
  }
}

.p-top-aboutService__bgLogo__list--red {
  color: rgba(#D9340A, 0.2);
}

.p-top-aboutService__bgLogo__list--blue {
  color: rgba(#2582bb, 0.2);
}

.p-top-aboutService__imgBlock {
  width: 60%;
  margin-right: 60px;

  @include mq(u-pc) {
    margin-right: 0;
  }
}

.p-top-aboutService__img {
  opacity: 0;

  position: relative; // 画像の重なりの関係で追加
  height: 50%;
  transform: scale(0);
}

// 付加クラス： イラスト出現
.moveAboutServiceImg {
  transition: 2s;
  opacity: 1;
  transform: scale(1);
}

.p-top-aboutService__textBlock {
  font-size: 25px;

  @include mq(u-pc) {
    margin-bottom: 100px;
  }

  @include mq(u-sp) {
    font-size: 20px;
    margin-bottom: 60px;
  }
}

.p-top-aboutService__text {
  // font-family: "Sawarabi Mincho";
  text-align: center;
  margin-bottom: 100px;
  text-shadow: 1px 3px 3px #ffc042;

  opacity: 0;
  position: relative;
  top: 50px;
  transition: .5s;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq(u-sp) {
    margin-bottom: 50px;
  }
}

// 付加クラス： テキスト出現
.textVisible {
  opacity: 1;
  top: 0;
}

.p-top-aboutService__text--modifier {
  background: linear-gradient(transparent 70%, #2582bb 85%, #D9340A 100%);
}

.p-top-aboutService__entry {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  @include mq(u-sp) {
    flex-direction: column;
  }
}

.p-top-aboutService__entryArrowBlock {
  width: 200px;

  @include mq(u-sp) {
    width: 10px;
    height: 100px;
    margin-bottom: 50px;
  }
}

// LINEへ：のびる矢印
.p-top-aboutService__entryArrow {
  opacity: 0;
  width: 1px;
  height: 10px;
  background-color: black;
  display: block;
  position: relative;
  top: 50%;
  left: 0;
  transition: 1.5s;

  @mixin arrowWing {
    content: '';
    background-color: black;
    display: block;
    position: absolute;
    transition: 1s;
  }

  @mixin arrowWingPC($transform, $direction) {
    @include arrowWing;

    width: 30%;
    height: 10px;
    right: 0;
    transform: $transform;
    transform-origin: $direction;
  }

  @mixin arrowWingSP($transform, $direction) {
    @include arrowWing;

    width: 10px;
    height: 30%;
    bottom: 0;
    transform: $transform;
    transform-origin: $direction;
  }

  &:before {
    @include arrowWingPC($transform: rotate(-45deg) scale(0), $direction: bottom right);
  }

  &:after {
    @include arrowWingPC($transform: rotate(45deg) scale(0), $direction: top right);
  }

  @include mq(u-sp) {
    width: 10px;
    height: 1px;
    top: 0;

    &:before {
      @include arrowWingSP($transform: rotate(-45deg) scale(0), $direction: bottom left);
      width: 10px;
      height: 30%;
      bottom: 0;
    }

    &:after {
      @include arrowWingSP($transform: rotate(45deg) scale(0), $direction: bottom right);
      width: 10px;
      height: 30%;
      bottom: 0;
    }
  }
}

.extendArrow1 {
  opacity: 1;
  width: 100%;

  @include mq(u-sp) {
    width: 10px;
    height: 100%;
  }
}

.extendArrow2 {
  &:before  {
    opacity: 1;
    transform: rotate(-45deg) scale(1);
  }

  &:after  {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
}

.p-top-aboutService__entryBlock__text {
  font-size: 20px;

  @include mq(u-sp) {
    margin-bottom: 50px;
  }
}

.p-top-aboutService__entryBlock__text--line {
  color: #0DB53C;
  text-shadow: 2px 4px 7px #0DB53C;
  font-size: 100px;
  font-weight: 900;
}

/*// -----------------------------------------------------------------
// .p-top-container
// -----------------------------------------------------------------*/

.p-top-container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
  background-color: #F2F2F2;
}

/*// -----------------------------------------------------------------
// .p-top-flowUpToWork
// -----------------------------------------------------------------*/
.p-top-flowUpToWork {
  margin: 0 auto;
}

@mixin blueAndRedTitle {
  position: relative;
  margin: 30px 0 100px 0;
  font-size: 2.5vw;
  text-align: center;
  letter-spacing: 8px;
  @include mq(u-sp) {
    font-size: 4vw;
  }
  &::before, &::after {
    position: absolute;
    display: block;
    top: 50%;
    width: 32vw;
    height: 10%;
    content: '';
    @include mq(u-sp) {
      width: 30vw;
    }
  }
}

.p-top-flowUpToWork__heading {
  @include blueAndRedTitle;

  &::before {
    left: 0;
    background-color: #FF6363;
  }

  &::after {
    right: 0;
    background-color: #07E7FF;
  }
}

.p-top-flowUpToWork__menu {
  display: flex;
  justify-content: center;
  // width: 80%;
  margin: 0 auto 100px auto;
  @include mq(u-sp) {
    flex-direction: column;
    align-items: center;
  }
}

.p-top-flowUpToWork__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 220px;
  @include mq(u-sp) {
    width: 50%;
  }
  &:nth-last-child(n+2) {
    position: relative;
    @include mq(u-sp) {
      margin-bottom: 20px;
    }
    &::before {
      position: absolute;
      display: block;
      background-color: $colorBlack;
      content: '';
      @include mq(o-sp) {
        top:  18px;
        right: -10px;
        width: 3vw;
        height: 1vh;
      }
      @include mq(u-sp) {
        bottom: 0;
        left: calc(50% - .5vw);
        width: 1vw;
        height: 7vh;
      }
    }
    &::after { // 矢印の設定
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent transparent transparent $colorBlack;
      content: '';
      @include mq(o-sp) {
        top: 10px;
        right: -20px;
        border-width: 10px 0 10px 20px;
      }
      @include mq(u-sp) {
        bottom: -10px;
        left: calc(50% - 2vw); // 三角形の横幅分を引く
        border-width: 2vw 0 2vw 4vw;
        transform: rotate(90deg);
      }
    }
  }
}

.p-top-flowUpToWork__list__order {
  text-align: center;
}

.p-top-flowUpToWork__list__txt {
  height: 15vh;
  font-size: 1vw;
  text-align: center;
  margin-bottom: 10px;
  @include mq(u-sp) {
    font-size: 2.5vw;
  }
}

.p-top-flowUpToWork__list__image {
  object-fit: contain;
  width: 10vw;
  height: 10vh;
  margin: 0 auto;
  @include mq(u-sp) {
    margin-top: auto;
    margin-bottom: 20px;
  }
}

/*// -----------------------------------------------------------------
// .p-top-pie
// -----------------------------------------------------------------*/
.p-top-pieList {
  display: flex;
  width: 100%;
  margin: 0 auto;
  @include mq(u-sp) {
    align-items: center;
    margin-bottom: 20px;
  }
}

.p-top-pieItem {
  margin-bottom: 100px;
}

.p-top-pieItem__category {
  text-align: center;
  font-size: 25px;
  opacity: .6;
  margin-bottom: 10px;
}

.p-top-pieItem__image {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

/*// -----------------------------------------------------------------
// .p-top-project
// -----------------------------------------------------------------*/

.p-top-project {
  margin-bottom: 100px;
}

/*
  .p-top-project__heading
---------------------------------------------------- */

.p-top-project__heading {
  @include blueAndRedTitle;

  &::before {
    left: 0;
    background-color: #07E7FF;
  }

  &::after {
    right: 0;
    background-color: #FF6363;
  }
}

.p-top-project__heading--bold {
  font-weight: bold;
}

.p-top-project__subTitle {
  margin-bottom: 150px;
  text-align: center;
  font-size: 25px;
}

/*
  .p-top-project__list
---------------------------------------------------- */

.p-top-project__list {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  @include mq(u-sp) {
    width: 70%;
    flex-direction: column;
    align-items: center;
  }
}

.p-top-project__outlineImg {
  position: relative;
  width: 20%;
  height: auto;
}

/*
  .p-top-project__listItem
---------------------------------------------------- */

.p-top-project__listItem {
  position: relative;
  top: 0;
  left: 0;
  width: 75%;
  border: 5px solid;
  border-top-left-radius: 80px;
  padding: 30px;
  &:nth-last-child(n+2) {
    margin-right: 10px;
  }
  @include mq(u-sp) {
    width: 80%;
    &:nth-last-child(n+2) {
      margin-bottom: 120px;
      margin-right: 0;
    }
  }
}

.p-top-project__listItem {
  &:nth-last-child(n+2) > .p-top-project__listItem__jobCategory {
    background-color: #FF6363;
  }
  &:last-child > .p-top-project__listItem__jobCategory {
    background-color: #07E7FF;
    color: $colorWhite;
  }
}

.p-top-project__listItem__goodMan {
  width: 70%;
  height: auto;
  margin: 0px auto 20px auto;
  border: 15px solid;
  @include mq(u-sp) {
    margin-top: -220px;
  }
}

.p-top-project__listItem__developmentEnironment {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.p-top-project__listItem__developmentEnironment > li {
  width: 90px;
  height: 25px;
  text-align: center;
  background-color: $colorWhite;
  border: 1px solid;
  border-radius: 20px;
  &:first-child {
    margin-bottom: 5px;
  }

  &:nth-last-child(n+2) {
    margin-right: 5px;
  }
}

.p-top-project__listItem__about {
  font-size: 17px;
  letter-spacing: 3px;
}

.p-top-project__listItem__feature > div {
  display: flex;
  align-items: center;
  justify-content: center;
}


/*
  .p-top-project__list__income
-----------------------------------------------------------------*/
.p-top-project__listItem__income__monthly {
  @include projectIcon(money);
}

.p-top-project__listItem__income__price--emphasis {
  font-size: 24px;
  font-weight: bold;
}

/*
  .p-top-project__listItem__working
// -----------------------------------------------------------------*/

.p-top-project__listItem__working {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-top-project__listItem__working__week {
  @include projectIcon(calender);
  text-align: center;
  text-indent: -70px;
}

.p-top-project__listItem__working__days {
  text-indent: -20px;
}

.p-top-project__listItem__working__days--emphasis {
  font-weight: bold;
  font-size: 25px;
}

/*// -----------------------------------------------------------------
//  p-top-faq
// -----------------------------------------------------------------*/

.p-top-faq__title {
  @include blueAndRedTitle;

  &::before {
    left: 0;
    background-color: #FF6363;
  }

  &::after {
    right: 0;
    background-color: #07E7FF;
  }
}

/*
  p-top-faqPC__question
---------------------------------------------------- */

.p-top-faqPC__question {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;

  @include mq(u-sp) {
    display: none;
  }
}

.p-top-faqPC__questionList {
  width: 30%;
  height: 200px;
  border: solid 1px black;
  border-radius: 20px;
  background-color: #545454;
  color: white;
  user-select: none; // ダブルクリック時の青色選択無効
  text-align: center;
  padding: 30px;
  position: relative;

  &:not(:nth-last-child(-n+3)) {
    margin-bottom: 20px;
  }

  &:hover {
    .p-top-faqPC__questionList__titleNum {
      transform: rotateY(-360deg);
    }
  }
}

// Questionの背景
.p-top-faqPC__questionList__titleNum {
  color: white;
  opacity: 0.2;
  font-size: 100px;
  position: absolute;
  bottom: -20px;
  right: 0;
  transition: 1.0s;
}

.p-top-faqPC__questionList__title {
  font-size: 20px;
}

/*
  p-top-faqPC__answer
---------------------------------------------------- */

.p-top-faqPC__answerList {
  display: none;
  text-align: center;
}

.p-top-faqPC__answerList__textBlock {
  width: 60%;
  margin: 0 auto;
  border: solid 1px black;
  background: linear-gradient(-60deg, #ec8c8c 2%,white 8%,white 92%,#c4fcfc 98%);
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  user-select: none; // ダブルクリック時の青色選択無効
}

.p-top-faqPC__answerList__question {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.p-top-faqPC__answerList__Num {
  font-size: 30px;
  font-weight: bold;
}

// --------------------------×アイコン--------------------------

.crossIcon {
  margin: 0 auto;
  transition: .5s;
}

.p-top-faqPC__crossIcon {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;

  &:hover > .crossIcon {
    transform: rotateZ(180deg);
  }
}

/* ---------------------------------------------------- */

#bgBlack {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.8);
  width: 100%;
  height: 100%;
}

.show {
  display: block;
}

.nonScroll {
  overflow: hidden; // モーダル表示時：スクロール×
}

/*
  p-top-faqSP
---------------------------------------------------- */

.p-top-faqSP {
  display: none;

  @include mq(u-sp) {
    display: block;
  }
}

.p-top-faqSP__list {
  @include mq(u-sp) {
    &:not(last-child) {
      margin-bottom: 10px;
    }
  }
}

.p-top-faqSP__question {
  @include mq(u-sp) {
    font-size: 20px;
    background-color: #747474;
    color: white;
    padding: 5px 35px;
  }
}

.p-top-faqSP__question__title {
  user-select: none; // ダブルクリック時の青色選択無効

  @include mq(u-sp) {
    position: relative;

    &:before {
      content: '\f35a';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;

      position: absolute;
      top: 50%;
      left: -25px;
      margin-top: -.5em; // 文字1文字の半分のネガティブマージン
    }
  }
}

.p-top-faqSP__answer {
  @include mq(u-sp) {
    display: none;
    background: linear-gradient(-60deg, #ec8c8c 2%,white 8%,white 92%,#c4fcfc 98%);
    border-radius: 0 0 30px 30px;
    padding: 20px 30px;
  }
}

.arrowTransform {
  @include mq(u-sp) {
    &:before {
      transform: rotate(90deg);
    }
  }
}

.p-top-faqSP__answer__text {
  @include mq(u-sp) {
    line-height: 35px;
  }
}